<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table th, table td {
            padding: 5px;
        }

        {
            font-style: italic
        ;
        }
    </style>
</head>

<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Modify</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:utext="${user.getId()}">Id</td>
                <td th:utext="${user.getName()}">Name</td>
                <td th:utext="${user.getSurname()}">Surname</td>
                <td th:utext="${user.getAge()}">Age</td>
                <td>
                    <a th:href="@{user-update/{id}(id=${user.getId()})}">Update</a>
                    <br>
                    <a th:href="@{user-delete/{id}(id=${user.getId()})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/user-create">Create user</a></p>
</div>
</body>
</html>