<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="POST">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name"></input>
    </br>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Surname"></input>
    </br>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age"></input>
    </br>
    <input type="submit" value="Create User">
</form>
</body>
</html>